

nav /* Secciones de propiedades del Nav */
{
    background-color: transparent;
    
}


.name-icon
{
    font-size: 70%;
   
}

.navbar-brand
{
    color: white !important;
  
    font-weight: bold;
    margin-left: 10% !important;
    font-size: 180% !important;
}

.navbar-nav
{
    margin-left: 70% !important;
    margin-right: 50% !important;
    font-family: roboto !important;
}

#navbarNav

{
    margin-right: 13% !important;
}

.quienessomos /* Propiedad de la seccion Quienes Somos */
{
    background-color: black;
    color: white;
}

  /* Estilo para ocultar la sección en dispositivos móviles */
  @media (max-width: 767px) {
    .quienessomos {
      display: none;
    }
  }


h2 /* Propiedades para los titulos que no tengan propiedades especiales */ 
{
    text-align: center;
    color: white;
    padding-top: 3% !important;
    padding-bottom: 1% !important;
    border-bottom: solid 1px;
}

.icon-background /* Propiedades Icono en tarjeta */ 
{
    background-color: mediumturquoise;
    align-items: center !important;
    text-align: center;
 }
  
.icon  /* Propiedades Icono en tarjeta */ 
{
    color: white; 
    font-size: 24px;
    text-align: center;
  }

.custom-card /* Propiedades Tarjeta */ 
{
    background-color: mediumturquoise !important;
    color: white;
  }

.Destacados  /* Solo fondo destacado */
{
    background-color: black;
}

.Contacto /* Propiedades Contacto */
{
    background-color: black;
    color: white;
}

footer /* Propiedades footer */
{
    background-color: mediumturquoise;
    padding: 1%;
    text-align: center;
    color: white;
}


.fa-brands /* Tamaño de los Iconos */
{
    font-size: 30px;
}

body /* Fuente roboto para todo el cuerpo */
{
    font-family: roboto;
}

.boton  /* Boton con Funcion Alert */
{
    background-color: turquoise;
    border: none;
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
  }

  .superboton   /* Boton que da la hora */
  {
    background-color: black;
    border: none;
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
  }


  .boton:hover {
    background-color: #140b8d; /* Cambia el color de fondo al pasar el mouse */
  }

  .titulo-footer  /* Viajes Chile, pero con más letras */
  {
    font-size: 125%;
  }

  .Destacados    /* Titulo Destacados */
  {
    color: white !important;
  }

.card-img-top   /* tamaño de imagenes en las Card */
{
   height: 200px;
}

.card-img-top1   /* Tamaño Imagenes en la Card 2, al tener una proporcion más grande que las otras. */
{
    height: 200px;
}

